.contentReps{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;

    min-width: 400px;
    margin: 1% 1%;
    padding: 20px;

    background-color: #f8e4c1;
    border: 3px solid hsla(320, 56%, 12%, 0.5);
    border-radius: 16px;
    box-shadow: 5px 5px hsla(320, 56%, 12%, 0.2);
}
/* .contentReps h2{
    display: flex;
    flex: 1;
} */